<!DOCTYPE html>
<html>
<head>
    <title>Strava Data Analysis</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"> 
    
    <!-- Map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="{{ url_for('static', filename='Polyline.encoded.js') }}"></script>

    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <h1>Strava Data Analysis</h1>
    <button class="accordion">Most Recent Activity</button>
    <div class="panel">
        <div class="flex-container">
            <div class="flex-child date">
               <h3>Date:</h3>
               <p>{{ date }}</p>
            </div>
            <div class="flex-child name">
                <h3>Name:</h3>
                <p>{{ name }}</p>
            </div>
            <div class="flex-child type">
                <h3>Type:</h3>
                <p>{{ type }}</p>
            </div>
            <div class="flex-child distance">
                <h3>Distance:</h3>
                <p>{{ distance }} km</p>
            </div>
        </div>
    </div>
    <button class="accordion">Rides</button>
    <div class="panel">
        <div class="flex-container">
            <div class="flex-child rides">
                <h2>Road/Gravel: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_rides }}</p>
                <p>Distance: {{ total_ride_distance }} km</p>
                <p>Elevation: {{ total_ride_elevation }} m</p>
                <p>Top Speed: {{ max_ride_speed }} km/h</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_ride_speed }} km/h</p>
                <p>Power: {{ avg_ride_power }} watts</p>
                <p>Distance: {{ avg_ride_distance }} km</p>
                <p>Elevation: {{ avg_ride_elevation }} m</p>
                <p>Heart Rate: {{ avg_ride_hr }} bpm</p>
            </div>
            <div class="flex-child commutes">
                <h2>Commutes: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_commutes }}</p>
                <p>Distance: {{ total_commute_distance }} km</p>
                <p>Elevation: {{ total_commute_elevation }} m</p>
                <p>Top Speed: {{ max_commute_speed }} km/h</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_commute_speed }} km/h</p>
                <p>Power: {{ avg_commute_power }} watts</p>
                <p>Distance: {{ avg_commute_distance }} km</p>
                <p>Elevation: {{ avg_commute_elevation }} m</p>
                <p>Heart Rate: {{ avg_commute_hr }} bpm</p>
            </div>
            <div class="flex-child mtb">
                <h2>Mountain Bike: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_mtb }}</p>
                <p>Distance: {{ total_mtb_distance }} km</p>
                <p>Elevation: {{ total_mtb_elevation }} m</p>
                <p>Top Speed: {{ max_mtb_speed }} km/h</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_mtb_speed }} km/h</p>
                <p>Power: {{ avg_mtb_power }} watts</p>
                <p>Distance: {{ avg_mtb_distance }} km</p>
                <p>Elevation: {{ avg_mtb_elevation }} m</p>
                <p>Heart Rate: {{ avg_mtb_hr }} bpm</p>
            </div>
            <div class="flex-child virtualRides">
                <h2>Virtual Rides: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_virtual_rides }}</p>
                <p>Distance: {{ total_virtual_ride_distance }} km</p>
                <p>Elevation: {{ total_virtual_ride_elevation }} m</p>
                <p>Top Speed: {{ max_virtual_ride_speed }} km/h</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_virtual_ride_speed }} km/h</p>
                <p>Power: {{ avg_virtual_ride_power }} watts</p>
                <p>Distance: {{ avg_virtual_ride_distance }} km</p>
                <p>Elevation: {{ avg_virtual_ride_elevation }} m</p>
                <p>Heart Rate: {{ avg_virtual_ride_hr }} bpm</p>
            </div>
        </div>
    </div>
    <button class="accordion">Runs/Hikes</button>
    <div class="panel">
        <div class="flex-container">
            <div class="flex-child runs">
                <h2>Outdoor Runs: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_outdoor_runs }}</p>
                <p>Distance: {{ total_outdoor_run_distance }} km</p>
                <p>Elevation: {{ total_outdoor_run_elevation }} m</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_outdoor_run_speed }} min/km</p>
                <p>Power: {{ avg_outdoor_run_power }} watts</p>
                <p>Distance: {{ avg_outdoor_distance }} km</p>
                <p>Elevation: {{ avg_outdoor_run_elevation }} m</p>
                <p>Heart Rate: {{ avg_outdoor_run_hr }} bpm</p>
            </div>
            <div class="flex-child virtual_runs">
                <h2>Virtual Runs: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_virtual_runs }}</p>
                <p>Distance: {{ total_virtual_run_distance }} km</p>
                <p>Elevation: {{ total_virtual_run_elevation }} m</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_virtual_run_speed }} min\km</p>
                <p>Power: {{ avg_virtual_run_power }} watts</p>
                <p>Distance: {{ avg_virtual_run_distance }} km</p>
                <p>Elevation: {{ avg_virtual_run_elevation }} m</p>
                <p>Heart Rate: {{ avg_virtual_run_hr }} bpm</p>
            </div>
            <div class="flex-child hikes">
                <h2>Hikes: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_hikes }}</p>
                <p>Distance: {{ total_hike_distance }} km</p>
                <p>Elevation: {{ total_hike_elevation }} m</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_hike_speed }} min/km</p>
                <p>Distance: {{ avg_hike_distance }} km</p>
                <p>Elevation: {{ avg_hike_elevation }} m</p>
                <p>Heart Rate: {{ avg_hike_hr }} bpm</p>
            </div>
        </div>
    </div>
    <button class="accordion">Other Activities</button>
    <div class="panel">
        <div class="flex-container">
            <div class="flex-child swims">
                <h2>Swims: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_swims }}</p>
                <p>Distance: {{ total_swim_distance }} km</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_swim_speed }} min/100m</p>
                <p>Distance: {{ avg_swim_distance }} km</p>
                <p>Heart Rate: {{ avg_swim_hr }} bpm</p>
            </div>
            <div class="flex-child alpine_ski">
                <h2>Alpine Skis: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_alpine_skis }}</p>
                <p>Distance: {{ total_alpine_ski_distance }} km</p>
                <p>Elevation: {{ total_alpine_ski_elevation }} m</p>
                <p>Top Speed: {{ max_alpine_ski_speed }} km/h</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_alpine_ski_speed }} km/h</p>
                <p>Distance: {{ avg_alpine_ski_distance }} km</p>
                <p>Elevation: {{ avg_alpine_ski_elevation }} m</p>
                <p>Heart Rate: {{ avg_alpine_ski_hr }} bpm</p>
            </div>
            <div class="flex-child nordic_ski">
                <h2>Nordic Skis: </h2>
                <h3>Totals:</h3>
                <p>Activites: {{ total_nordic_skis }}</p>
                <p>Distance: {{ total_nordic_ski_distance }} km</p>
                <p>Elevation: {{ total_nordic_ski_elevation }} m</p>
                <p>Top Speed: {{ max_nordic_ski_speed }} km/h</p>
                <h3>Averages:</h3>
                <p>Speed: {{ avg_nordic_ski_speed }} km/h</p>
                <p>Distance: {{ avg_nordic_ski_distance }} km</p>
                <p>Elevation: {{ avg_nordic_ski_elevation }} m</p>
                <p>Heart Rate: {{ avg_alpine_ski_hr }} bpm</p>
            </div>
            <div class="flex-child other">
                <h2>Other Activities: </h2>
                <p>{{ other_sport_types | safe }}</p>
            </div>
        </div>
    </div>
    <button class="accordion">Media</button>
    <div class="panel">
        <div class="flex-container">
            <section id="gallery">
                <div class="photo-gallery">
                    {% for photo, activity_name in photos.items() %}
                    <div class="image-wrapper">
                        <img src="{{ photo }}">
                        <div class="caption">
                        <div class="caption-text">{{ activity_name }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
    <div class="main-container">
        <div class="flex-container">
            <div class="flex-child distance_travelled">
                <h3>Distance Travelled:</h3>
                <p>{{ distance_travelled }} km</p>
                <p>That's {{ times_around_earth }} times around the earth!</p>
            </div>
            <div class="flex-child elevation_gained">
                <h3>Elevation Gained:</h3>
                <p>{{ elevation_gained }} m</p>
                <p>That's {{ times_up_everest }} times up Mt. Everest!</p>
            </div>
            <div class="flex-child heart_beats">
                <h3>Heart Beats:</h3>
                <p>{{ heart_beats }}</p>
                <p>That's {{ blood_pumped }} Litres of blood pumped!</p>
            </div>
            <div class="flex-child kudos_received">
                <h3>Kudos Received:</h3>
                <p>{{ kudos_received }}</p>
                <p>That's a lot of love!</p>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="flex-container">
            <div class="flex-child map">
                <div id="map"></div>
            </div>
            <div class="flex-child legend">
                <div class="flex-container">
                    <div class="flex-child datepicker">
                        <div class="datepicker-container">
                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <br>
                            <form action="/" method="get">
                                <input type="hidden" id="start-date" name="start_date">
                                <input type="hidden" id="end-date" name="end_date">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                var start = moment('{{ start_date }}', 'YYYY-MM-DD HH:mm:ss');
                                var end = moment('{{ end_date }}', 'YYYY-MM-DD HH:mm:ss');
                            
                                function cb(start, end) {
                                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

                                    $('#start-date').val(start.format('YYYY-MM-DD'));
                                    $('#end-date').val(end.format('YYYY-MM-DD'));
                                }
                            
                                $('#reportrange').daterangepicker({
                                    startDate: start,
                                    endDate: end,
                                    ranges: {
                                        'Today': [moment(), moment()],
                                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                        'This Year': [moment().startOf('year'), moment()],
                                        'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                                        'All Time': [moment().subtract(100, 'year').startOf('year'), moment()]
                                    }
                                }, cb);
                            
                                cb(start, end);
                            });
                        </script>
                    </div>
            </div>
            <div class="legendlow">
                <p><span style="color: #00b159;">Bike</span> 🚴 </p>
                <p><span style="color: #d11141;">Run</span> 🏃 </p>
                <p><span style="color: #00aedb;">Ski</span> ⛷️ </p>
                <p><span style="color: #f37735;">Hike</span> ⛰️ </p>
                <p><span style="color: #ffc425;">Other</span> 🚀 </p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
